.App{
    background-image:url(https://html.sammy-codes.com/images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Garamond';
    color: #1B1F92;
}
#hello{
    background-image:url(https://png.pngtree.com/background/20210715/original/pngtree-modern-quotations-communication-template-design-picture-image_1300246.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Garamond';
    color: #1B1F92;
}

